<title>Hanilytics | Analytics & Business Solutions</title>
{%extends "pages/base.html"%}

{%block content%}
 <div class="bgded overlay" style="background-image:url('/static/images/demo/backgrounds/new_york.jpg');">
    <div id="pageintro" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="flexslider basicslider">
        <ul class="slides">
          <li>
            <article>
              <h3 class="heading">Analytics & Business Solutions</h3>
              <p></p>
              <p class="font-x1 uppercase bold">Data is the key to success</p>
              <footer>
                <ul class="nospace inline pushright">
                  <li>
                    <a class="btn" href="/tour">Take a tour</a>
                  </li>
                  <li>
                    <a class="btn inverse" href="#">Consult</a>
                  </li>
                </ul>
              </footer>
            </article>
          </li>
          <li>
            <article>
              <h3 class="heading">Interactive dashboards under your finger print</h3>
              <p>Hanilytics uses the best technolgies to deliver insights about your business right under your finger print
              </p>
              <p class="font-x1 uppercase bold">its all about reporting</p>
              <footer>
                <ul class="nospace inline pushright">
                  <li>
                    <a class="btn" href="#">View Video</a>
                  </li>
                  <li>
                    <a class="btn inverse" href="#">View Demo</a>
                  </li>
                </ul>
              </footer>
            </article>
          </li>
          <li>
            <article>
              <h3 class="heading">Awesome Articles</h3>
              <p>Hanilytics present to you daily articles and news about analytics, machine learning and AI from around the
                globe
              </p>
              <p class="font-x1 uppercase bold">New news is what we keep you up with 😉</p>
              <footer>
                <ul class="nospace inline pushright">
                  <li>
                    <a class="btn" href="blog">Go to Blog</a>
                  </li>
                </ul>
              </footer>
            </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper coloured">
    <article class="hoc cta clear">
      <h6 class="three_quarter first">Do you wnat to get amazed in seconds?</h6>
      <footer class="one_quarter">
        <a class="btn" href="#">yes for sure &raquo;</a>
      </footer>
    </article>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper bgded" style="background-image:url('static/images/dream_pic.jpg');">
    <div class="hoc split clear">
      <section>
        <!-- ################################################################################################ -->
        <h6 class="heading">What data analysis is to us?</h6>
        <p class="btmspace-30">Its considerd our mission and goals because it can deliver to our clients :</p>
        <ul class="fa-ul">
          <li>
            <i class="fa-li fa fa-check-circle"></i> Insights about their business</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i> Help them with their future decisions</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i> Another awesome reason</li>
        </ul>
        <!-- ################################################################################################ -->
      </section>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="sectiontitle center">
        <h6 class="heading">What do we do in Hanilytics</h6>
        <a>Turn Challenges Into Opportunities</a>
      </div>
      <div class="clear">
        <div class="two_third first">
          <p>The business landscape is faster and more competitive than ever before — disruptive business models, new market
            entrants — and market leaders are squeezing every possible advantage out of data and analytics. This means partnering
            with a trusted analytics partner to improve analytics capabilities, assess weaknesses (and strengths), then architect,
            optimize, and manage an ecosystem as fast as possible.</p>
          <p class="btmspace-50"> That’s exactly what Teradata does: help companies accelerate time-to-value by driving analytic insights into production
            while reducing risk and increasing returns.</p>
          <ul class="nospace group">
            <li class="one_third first">
              <article>
                <a href="#">
                  <i class="icon btmspace-30 fa fa-joomla"></i>
                </a>
                <h6 class="heading font-x1">Access the Data</h6>
                <p>Giving us access to your data</p>
              </article>
            </li>
            <li class="one_third">
              <article>
                <a href="#">
                  <i class="icon btmspace-30 fa fa-braille"></i>
                </a>
                <h6 class="heading font-x1">Analyze the data</h6>
                <p>We will analyze your data using the best technologies</p>
              </article>
            </li>
            <li class="one_third">
              <article>
                <a href="#">
                  <i class="icon btmspace-30 fa fa-modx"></i>
                </a>
                <h6 class="heading font-x1">Report the data</h6>
                <p>Create the best reports that suit your data and give you awesome business solutions</p>
              </article>
            </li>
          </ul>
        </div>
        <div class="one_third">
          <a href="#">
            <img class="inspace-10 btmspace-15 borderedbox" src="static/images/demo/320x180.png" alt="">
          </a>
          <br>
          <a href="#">
            <img class="inspace-10 borderedbox" src="static/images/demo/320x180.png" alt="">
          </a>
        </div>
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper bgded overlay" style="background-image:url('static/images/brainstorm.jpg');">
    <div id="testimonial" class="hoc container clear">
      <!-- ################################################################################################ -->
      <blockquote>With data analysis, our customers became more powerfull and gaind more confidence in compare of thier competitors in
        the markets</blockquote>
      <figure>
        <element class="avatar-img">
          <img class="circle" src="static/images/hani.jpg" alt="">
        </element>
        <figcaption>
          <strong>Hani Mounla</strong>
          <br>
          <em>CEO, Hanilytics</em>
        </figcaption>
      </figure>
      <blockquote>Data is a precious thing and will last longer than the systems themselves - Tim Berners-Lee, father of the Worldwide
        Web
      </blockquote>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <section class="hoc container clear">
      <!-- ################################################################################################ -->
      <h6 class="heading">Hanilytics Blog</h6>
      <p class="nospace">Hanilytics present to you daily articles and news about analytics, Machine Learning and AI from around the globe
      </p>
      <p class="nospace btmspace-80">Check out our latest articles: </p>
      <div class="group latest">
        <article class="one_third first">
          <figure>
            <a href="#">
              <img src="/static/images/demo/320x220.png" alt="">
            </a>
            <figcaption>
              <time datetime="2045-04-06T08:15+00:00">
                <strong>06</strong>
                <em>Apr</em>
              </time>
            </figcaption>
          </figure>
          <div class="txtwrap">
            <h4 class="heading">Non fringilla purus</h4>
            <ul class="nospace meta">
              <li>by
                <a href="#">Admin</a>
              </li>
              <li>in
                <a href="#">Category Name</a>
              </li>
            </ul>
            <p>Praesent hendrerit diam sit amet turpis lobortis bibendum fusce malesuada condimentum hendrerit morbi&hellip;</p>
            <footer>
              <a href="#">Read More &raquo;</a>
            </footer>
          </div>
        </article>
        <article class="one_third">
          <figure>
            <a href="#">
              <img src="/static/images/demo/320x220.png" alt="">
            </a>
            <figcaption>
              <time datetime="2045-04-05T08:15+00:00">
                <strong>05</strong>
                <em>Apr</em>
              </time>
            </figcaption>
          </figure>
          <div class="txtwrap">
            <h4 class="heading">Integer fringilla arcu</h4>
            <ul class="nospace meta">
              <li>by
                <a href="#">Admin</a>
              </li>
              <li>in
                <a href="#">Category Name</a>
              </li>
            </ul>
            <p>Dolor magna nam mattis tempor augue sit amet congue ipsum iaculis dignissim nullam et pharetra orci morbi non&hellip;</p>
            <footer>
              <a href="#">Read More &raquo;</a>
            </footer>
          </div>
        </article>
        <article class="one_third">
          <figure>
            <a href="#">
              <img src="/static/images/demo/320x220.png" alt="">
            </a>
            <figcaption>
              <time datetime="2045-04-04T08:15+00:00">
                <strong>04</strong>
                <em>Apr</em>
              </time>
            </figcaption>
          </figure>
          <div class="txtwrap">
            <h4 class="heading">Varius molestie nulla sed</h4>
            <ul class="nospace meta">
              <li>by
                <a href="#">Admin</a>
              </li>
              <li>in
                <a href="#">Category Name</a>
              </li>
            </ul>
            <p>Eros ante suspendisse lectus nibh ultricies id ex aliquam congue finibus nisl sed tempus semper porttitor lorem&hellip;</p>
            <footer>
              <a href="#">Read More &raquo;</a>
            </footer>
          </div>
        </article>
      </div>
      <!-- ################################################################################################ -->
    </section>
  </div>
{%endblock%}