<title>Case Studies | Hanilytics</title>
{%extends "pages/base.html"%} 

{%block content%}
<div class="wrapper row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h6 class="heading">Real Life Case Studies</h6>
        <p class="nospace btmspace-80">Where you will get inspired and start to make yours</p>
        <!-- ################################################################################################ -->
    </section>
</div>
{%endblock%}