{% extends "includes/base.html" %}

{% block content %}
<title>Blog | Hanilytics</title>
<div class="row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h6 class="heading">Welcome to Hanilytics Blog!</h6>
        <p class="nospace btmspace-80">Where you will find latest articles in arabic and english about Analytics, Machine Learning and AI from all over
            the world!</p>
        <div class="group latest">
            {% for post in posts %}
            <article class="one_third">
                <figure>
                    <a href="{% url 'blog:post-detail' slug=post.slug %}">
                        <!-- <img class="article-img" src="{{article.image.name|slice:'4:'}}" alt=""> -->
                    </a>
                </figure>
                <div class="txtwrap">
                    <h4 class="heading">{{post.title}}</h4>
                    <ul class="nospace meta">
                        <li>
                            {% for tag in post.tags.all %}
                            <a href="{% url 'blog:post-list-by-tag' tag.slug %}" class="btn btn-info btn-xs">{{ tag.name }}</a>
                            {% endfor %} {{ post.published_date|date:"F j, Y" }}
                        </li>
                    </ul>
                    <p>{% with body=post.body|safe %} {{body|truncatechars:100}} {% endwith %}</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
<script src="/static/layout/scripts/layout.js"></script>
{% endblock %}