<div id = "topics" class="group btmspace-30 divv">
  <div class="one_quarter container-topics ">
    <img src="/static/images/dream_pic.jpg" alt="Avatar" class="image-topics">
    <div class="overlay-topics">
      <a href="/blog/tags/business-intelligence" class="text-topics">Business Intelligence</a>
    </div>
  </div>
  <div class="one_quarter container-topics">
    <img src="/static/images/machine_learning.jpg" alt="Avatar" class="image-topics">
    <div class="overlay-topics">
      <a href="/blog/tags/machine-learning" class="text-topics">Machine Learning</a>
    </div>
  </div>
  <div class="one_quarter container-topics">
    <img src="/static/images/data_analysis.jpg" alt="Avatar" class="image-topics">
    <div class="overlay-topics">
      <a href="/blog/tags/big-data" class="text-topics">Data Analysis</a>
    </div>
  </div>
  <div class="one_quarter container-topics">
    <img src="/static/images/artificial_intelligance.jpg" alt="Avatar" class="image-topics">
    <div class="overlay-topics">
      <a href="/blog/tags/artificial-intelligance" class="text-topics">Artifical Intelligance</div>
  </div>
</div>