<title>New Article | Hanilytics</title>
{% extends 'pages/base.html' %}
{%block content%}
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- ################################################################################################ -->
        <form method="post" enctype="multipart/form-data">{% csrf_token %} {% for field in new_article_form %}
             {{field.name|title}} 
             {{field}}
            <br> {% endfor %}
            <button type="submit" value="submit">Submit</button>
        </form>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
    </main>
</div>
{%endblock%}
